<div id="footer">
    <center style="padding-top:30px;font-size:11px;"><b>published under <span><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a></span> by {{publishingorg}}
            | {{publisher}}</b><br><a href="https://www.leiza.de/impressum">Impressum</a>
        | <a href="https://www.leiza.de/datenschutz">Datenschutz</a></center>
</div>

<script>$(document).ready(function(){setSVGDimensions()})</script>

</body></html>
